<?xml version="1.0"?>
<launch>
	############################ rplidar a1 laser ##############################


  	<include file="$(find rplidar_ros)/launch/rplidar.launch" />


  	######## publish an base_link -> laser frame transform #######
  
  	<node pkg="tf" type="static_transform_publisher" name="base_laser_link" 
    	args="0.36 0 0.3 0 0 0 1  /base_link /laser 100"/>

	<node pkg="laser_scan_matcher" type="laser_scan_matcher_node" 
	    name="laser_scan_matcher_node" output="screen">
	    
	    <!--param name="fixed_frame" value = "map"/-->
	    <param name="fixed_frame" value = "odom"/>
	    <param name="base_frame" value = "base_link"/>
	    <param name="use_imu" value = "false"/>
	    <param name="max_iterations" value="10"/>
	 </node>


</launch>